.inputWordBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.inputField {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    background: #151515;
    font-size: 1rem;
    color: #7bff71;
    text-align: center;
}

.inputField:hover {
    border: 1px solid #eeeeee;
    border-radius: 2px;
}

.labelInputWord {
    color: #eeeeee;
    font-size: 1.2rem;
}